/* === Основной контейнер игры === */

.foodGame {
  padding: 20px;
}

/* === Задание: собрать блюдо === */

.task {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* === Счёт и рекорд === */

.scoreContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-family: sans-serif;
}

.score {
  font-size: 24px;
  color: #333;
  white-space: nowrap;
}

@media (width <=450px) {

  .score {
    font-size: 20px;
  }
}

@media (width <=350px) {

  .score {
    font-size: 16px;
  }
}

/* === Транспортер с продуктами === */

.foodTransporter {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  height: 50px;
  background: #716421;
  padding: 10px;
}

.transporterItem {
  flex: 1;
  background-color: #edc53f;
  color: #f9f6f2;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}