.scoreContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 350px) {
  .score {
    font-size: 16px;
  }
}

@media (min-width: 351px) {
  .score {
    font-size: 30px;
  }
}

@media (min-width: 450px) {
  .score {
    font-size: 40px;
  }
}

@media (min-width: 600px) {
  .score {
    font-size: 60px;
  }
}