.foodTransporter {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  height: 30px;
  background: #716421;
  padding: 10px;
}

.transporterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edc53f;
  color: #f9f6f2;
  padding: 10px;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer;
}