.field {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 3 * 10px) / 4));
  grid-template-rows: repeat(4, calc((100% - 3 * 10px) / 4));
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  background-color: #bbada0;
  padding: 10px;
  gap: 10px;
}

@media (width <=350px) {

  .item {
    font-size: 20px;
  }
}

@media (width >=351px) {

  .item {
    font-size: 30px;
  }
}

@media (width >=450px) {

  .item {
    font-size: 40px;
  }
}

@media (width >=600px) {

  .item {
    font-size: 60px;
  }
}

.item {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  color: #776e65;
}

.item2 {
  background-color: var(--color-item-2);
}

.item4 {
  background-color: var(--color-item-4);
}

.item8 {
  background-color: var(--color-item-8);
  color: var(--color-accent-light);
}

.item16 {
  background-color: var(--color-item-16);
  color: var(--color-accent-light);
}

.item32 {
  background-color: var(--color-item-32);
  color: var(--color-accent-light);
}

.item64 {
  background-color: var(--color-item-64);
  color: var(--color-accent-light);
}

.item128 {
  background-color: var(--color-item-128);
  color: var(--color-accent-light);
}

.item256 {
  background-color: var(--color-item-256);
  color: var(--color-accent-light);
}

.item512 {
  background-color: var(--color-item-512);
  color: var(--color-accent-light);
}

.item1024 {
  background-color: var(--color-item-1024);
  color: var(--color-accent-light);
}

.item2048 {
  background-color: var(--color-item-2048);
  color: var(--color-accent-light);
}