.goButton {
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100%;
  z-index: 30;
  pointer-events: auto;
  background: linear-gradient(to right, #4CAF50, #66BB6A);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.goButton:hover {
  background: linear-gradient(to right, #66BB6A, #81C784);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgb(0 0 0 / 40%);
}

.goButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.buttonIcon {
  width: 2rem;
  height: 2rem;
  stroke-width: 2;
}


@media (width <=640px) {

  .goButton {
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
  }

  .buttonIcon {
    width: 2rem;
    height: 2rem;
  }
}