.overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal {
  background: #222;
  color: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 0 15px rgb(0 0 0 / 50%);


  h2 {
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 12px;
  }

  .buttons button {
    background: #f9a825;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .buttons button:hover {
    background: #ffb833;
  }
}