/* === src/index.css (ваш global.css) === */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root,
#root,
html,
body {
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  touch-action: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f6f2;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --color-bg: #f9f6f2;
  --color-text: #333;
  --color-accent: #776e65;
  --color-accent-light: #f9f6f2;
  --color-item-2: #eee4da;
  --color-item-4: #ede0c8;
  --color-item-8: #f2b179;
  --color-item-16: #f59563;
  --color-item-32: #f67c5f;
  --color-item-64: #f65e3b;
  --color-item-128: #edcf72;
  --color-item-256: #edcc61;
  --color-item-512: #edc850;
  --color-item-1024: #edc53f;
  --color-item-2048: #edc22e;
}