.bubbleContainer {
  display: flex;
  flex-direction: column;

  /* Изначальное направление - сверху вниз */
  pointer-events: auto;
  position: absolute;
  transform: translate(-50%, -100%);

  /* Центрируем по X, поднимаем над точкой */
}

.bottom {
  /* Модификатор для нижней позиции */
  flex-direction: column-reverse;

  /* Меняем порядок на обратный */
}


/* Стили для разных позиций */

.topLeft {
  transform: translate(-10%, -110%);
  align-items: flex-start;
}

.topCenter {
  transform: translate(-50%, -110%);
  align-items: center;
}

.topRight {
  transform: translate(-90%, -110%);
  align-items: flex-end;
}

.bottomLeft {
  transform: translate(-10%, 10%);
  align-items: flex-start;
}

.bottomCenter {
  transform: translate(-50%, 10%);
  align-items: center;
}

.bottomRight {
  transform: translate(-90%, 10%);
  align-items: flex-end;
}


.smallOvals {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  align-items: center;
}

.oval {
  background-color: #fff;

  /* Добавляем белый цвет овалам */
  border-radius: 50%;
}


.ovalSmall {
  width: 0.5rem;
  height: 0.5rem;
  transform: translateY(-0.25rem);
}

.ovalMedium {
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(-0.375rem);
}

.ovalLarge {
  width: 1rem;
  height: 1rem;
  transform: translateY(-0.5rem);
}

.mainBubble {
  position: relative;
  background-color: white;
  color: #374151;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
  border: 2px solid #4b5563;
  max-width: 20rem;
  text-align: center;
}

.messageText {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.optionButton {
  background-color: #3b82f6;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
}

.optionButton:hover {
  background-color: #2563eb;
}

.closeButton {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background: transparent;
  border: none;
  color: #6b7280;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.closeButton:hover {
  color: #374151;
}