.text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #000;
}

.messageboxPictureFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  width: 100%;

  /* Одноцветный фон */
  background: #CABF9E;
  padding: 15px;
  margin: 0;
  z-index: 10;
  border-radius: 4px;

  /* Небольшое закругление внутреннего контента */
}

/* Деревянная рамка */

.messageboxPictureFrame::before {
  content: '';
  position: absolute;
  inset: -10px;

  /* Деревянная текстура рамки */
  border: 10px solid #685A38;
  box-shadow:
    0 12px 24px rgb(107 90 67 / 60%),
    inset 3px 3px 6px rgb(255 255 255 / 20%),
    inset -3px -3px 6px rgb(0 0 0 / 20%);
  z-index: -4;
  border-radius: 12px;
}

/* Угловые треугольники - часть деревянной рамки */

.messageboxPictureFrame::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background: linear-gradient(135deg, #6b5a43, #877254, #a89a7a);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: -2;
  border: 5px solid hsl(45deg 25% 47%);
  box-shadow: 2px 2px 4px rgb(107 90 67 / 40%);
}

.cornerTr {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: linear-gradient(-135deg, #6b5a43, #877254, #a89a7a);
  clip-path: polygon(100% 0, 100% 100%, 0 0);
  z-index: -2;
  border: 5px solid hsl(45deg 25% 47%);
  box-shadow: -2px 2px 4px rgb(107 90 67 / 40%);
}

.cornerBl {
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background: linear-gradient(-45deg, #6b5a43, #877254, #a89a7a);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  z-index: -2;
  border: 5px solid hsl(45deg 25% 47%);
  box-shadow: 2px -2px 4px rgb(107 90 67 / 40%);
}

.cornerBr {
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #6b5a43, #877254, #a89a7a);
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  z-index: -2;
  border: 5px solid hsl(45deg 25% 47%);
  box-shadow: -2px -2px 4px rgb(107 90 67 / 40%);
}